.anchor {
    -fx-background-image: url("images/background.jpg");
    -fx-background-size: cover; /* Ensures the image covers the entire container */
    -fx-background-position: center; /* Centers the image horizontally and vertically */
}

/* styles.css */
.Vbox {
    -fx-background-color: #434848; /* Background color (adjust to your preference) */
    -fx-border-color: #B3AE83; /* Border color (red in this example) */
    -fx-border-width: 5px; /* Border width (adjust as needed) */
    -fx-opacity: 0.9;
    -fx-background-insets: 2; /* Adjust to control the distance between the border and the button content */
}

/* You can also set specific styling for specific cells, for example, by using a style class */
.cell-style {
    -fx-background-color: #434848; /* Background color (adjust to your preference) */
    -fx-border-width: 2px;
    -fx-padding: 10px;
}

.cell_dark-style {
    -fx-background-color: rgba(17, 17, 17, 0.38); /* Background color (adjust to your preference) */
    -fx-border-width: 5px; /* Border width (adjust as needed) */
    -fx-padding: 10px;
}

.cell_light-style {
    -fx-background-color: rgba(17, 17, 17, 0.08); /* Background color (adjust to your preference) */
    -fx-border-width: 5px; /* Border width (adjust as needed) */
    -fx-padding: 10px;
}



/* Define text field for inputs like nicknames as pins*/
.text-field {
    -fx-background-color: #f3ebb5; /* Background color (adjust to your preference) */
    -fx-background-radius: 15px;
    -fx-border-color: #111111; /* Border color (red in this example) */
    -fx-border-width: 2px; /* Border width (adjust as needed) */
    -fx-border-radius: 15px; /* Border radius (rounded corners, adjust as needed) */
    -fx-background-insets: 2; /* Adjust to control the distance between the border and the button content */
    -fx-opacity: 0.9;
    -fx-text-fill: #434848;
    -fx-font-size: 15px; /* You can adjust the font size to your preference */
    -fx-font-weight: bold;
    -fx-font-family: "Verdana";
    -fx-prompt-text-fill: #111111;
}

.text-area {
    -fx-background-color: #b3ae83; /* Background color (adjust to your preference) */
    -fx-background-radius: 25px;
    -fx-border-color: #111111; /* Border color */
    -fx-control-inner-background:#b3ae83;
    -fx-border-width: 2px; /* Border width */
    -fx-border-radius: 25px; /* Border radius for rounded corners */
    -fx-padding: 15px 12px; /* Padding around the text */
    -fx-pref-width: 200; /* Preferred width */
    -fx-box-sizing: border-box; /* Make sure padding and width stay inside the area */
    -fx-text-fill: #434848;
    -fx-font-size: 15px; /* You can adjust the font size to your preference */
    -fx-font-weight: bold;
    -fx-font-family: "Verdana";
}


.text_box{
    -fx-background-color: #b3ae83; /* Background color (adjust to your preference) */
    -fx-background-radius: 15px;
    -fx-border-color: #111111; /* Border color (red in this example) */
    -fx-border-width: 2px; /* Border width (adjust as needed) */
    -fx-border-radius: 15px; /* Border radius (rounded corners, adjust as needed) */
    -fx-background-insets: 2; /* Adjust to control the distance between the border and the button content */
    -fx-opacity: 0.9;
    -fx-text-fill: #434848;
    -fx-font-size: 20px; /* You can adjust the font size to your preference */
    -fx-font-weight: bold;
    -fx-font-family: "Verdana";
    -fx-prompt-text-fill: #111111;
    -fx-alignment: center;
}


/* Define a CSS class for the sub title label */
.text {
    -fx-text-fill: #B3AE83; /* Same text color as the button */
    /*-fx-font-size: 25; /* Adjust the font size as needed */
    -fx-font-weight: bold;
    -fx-font-family: "Verdana";
}

/* Define a CSS class for the sub title label */
.text_turn {
    -fx-text-fill: #B3AE83; /* Same text color as the button */
    -fx-font-size: 35; /* Adjust the font size as needed */
    -fx-font-weight: bold;
    -fx-font-family: "Verdana";
}

/* Define a CSS class for the sub title label */
.text_param {
    -fx-text-fill: #B3AE83; /* Same text color as the button */
    -fx-font-size: 25; /* Adjust the font size as needed */
    -fx-font-weight: bold;
    -fx-font-family: "Verdana";
}


.text_message{
    -fx-background-color: #b3ae83; /* Background color (adjust to your preference) */
    -fx-background-radius: 15px;
    -fx-border-color: #111111; /* Border color (red in this example) */
    -fx-border-width: 2px; /* Border width (adjust as needed) */
    -fx-border-radius: 15px; /* Border radius (rounded corners, adjust as needed) */
    -fx-background-insets: 2; /* Adjust to control the distance between the border and the button content */
    -fx-text-fill: #434848;
    -fx-font-size: 40px; /* You can adjust the font size to your preference */
    -fx-font-weight: bold;
    -fx-font-family: "Verdana";
    -fx-prompt-text-fill: #111111;
    -fx-alignment: center;

}

.auto-complete-popup {
    -fx-background-color: gold;
    -fx-background-insets: 0.0px;
    -fx-background-radius: 0.0px;
    -fx-border-width: 0.0px;
    -fx-border-color: transparent;
    -fx-border-radius: 0.0px;
}

.auto-complete-popup > .list-view {
    -fx-background-color: #434848;
    -fx-background-insets: 0.0px;
    -fx-background-radius: 0.0px;
    -fx-border-color: transparent;
    -fx-border-width: 0.0px;
    -fx-border-radius: 0.0px;
    -fx-padding: 0.0px;
}

.auto-complete-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell {
    -fx-background-color: #b3ae83;
    -fx-background-radius: 15px;
    -fx-border-color: #434848;
    -fx-border-width: 2px;
    -fx-border-radius: 15px;
    -fx-background-insets: 2;
    -fx-opacity: 0.9;
    -fx-text-fill: #434848;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-font-family: "Verdana";
    -fx-alignment: center;
}

.auto-complete-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:hover,
.auto-complete-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:focused {
    -fx-background-color: #b3ae83;
    -fx-text-fill: #434848;
}

.auto-complete-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected,
.auto-complete-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected:hover {
    -fx-background-color: #0078ce;
    -fx-text-fill: #434848;
    -fx-cursor: default;
}

.auto-complete-popup > .list-view > .placeholder > .label {
    -fx-text-fill: #65728B;
}
